
@import 'theme';

.ui-code-editor-input {
    flex: 1 1 auto;
    margin: 0;
    border: 0;
    background: none;
    white-space: pre;
    word-break: break-all;
    overflow-wrap: break-word;
    resize: none;
    color: inherit;
    overflow: hidden;
    padding-left: 8px;
    outline: none;
}

.ui-code-editor-container {
    display: flex;
    position: relative;
    padding: 8px;
    height: fit-content;
    width: fit-content;
    min-width: 100%;
}

.ui-code-editor {
    border-radius: 4px;
    background: mix($theme-background, $theme-on-background, 90%);
    color: $theme-on-background;    
    box-sizing: border-box;
    padding: 0;
    overflow: auto;
    margin: 8px;
    box-shadow: 0px 2px 1px -2px rgba(0,0,0,0.2),
        0px 2px 2px 0px rgba(0,0,0,0.14),
        0px 1px 5px 0px rgba(0,0,0,0.12);
}

.ui-code-editor-linenumber {
    display: block;
    width: min-content;
}

.ui-code-editor-lines {
    flex: 0 0 min-content;
    display: flex;
    flex-direction: column;
    color: mix($theme-on-background, $theme-background, 50%);    
    min-width: 4ch;
    padding-right: 1ch;
    align-items: last baseline;
    user-select: none;
}

.ui-code-editor-linenumber, .ui-code-editor-lines, .ui-code-editor-input {
    box-sizing: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-variant-ligatures: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    tab-size: inherit;
    text-indent: inherit;
    text-rendering: inherit;
    text-transform: inherit;
}
