
@import 'theme';

.ui-spinner {
    width: 5rem;
    height: 5rem;
    position: relative;
}

.ui-spinner span {
    display: block;
    position: absolute;
    background: $theme-primary;
    border-radius: 50%;
}

@for $i from 1 through 10 {
    .ui-spinner span:nth-child(#{$i}) {
        animation: 1s 0.02s * $i ease-in-out infinite ui-spinner-keyframes;
        width: 25% - 1% * $i;
        height: 25% - 1% * $i;
        top: 50% - (25% - 1% * $i) / 2;
        left: 0%;
        transform-origin: 50% * 100% / (25% - 1% * $i) 50%;
    }
}

@keyframes ui-spinner-keyframes {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
