
$theme-primary: #00d0e0;
$theme-secondary: #e00f00;
$theme-on-primary: #000000;
$theme-on-secondary: #ffffff;
$theme-background: #fafafa;
$theme-on-background: #000000;
$theme-dark-background: darken($theme-primary, 90%);
$theme-on-dark-background: #ffffff;

html {
    background-color: $theme-background;
    color: $theme-on-background;
}